.product-card {
    border: 1px solid ;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: inline-block;
  }
  
  .product-card h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .product-card p {
    margin: 0;
  }
  .product-card img{
    width: 50px;
    height: 50px;
  }
  
 
  
  
  
  /* Admin.css */

.admin-panel {
  display: flex;
  flex-direction: left;
  align-items: stretch;
  width: 100%;
}

.sidebar {
  background-color: #333;
  color: white;
  width: 20%;
  padding: 20px;
  flex-direction: left;
  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  flex-direction: left;
}

.sidebar li {
  margin-bottom: 10px;
  flex-direction: left;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

/* Add more styles as needed */
.card {
  width: 18rem;
  border :#fff;
  background-color: #fff;
}




.a.cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
}

.a .cart-items-container.active {
  right: 0;
}

.a .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.a .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #13131a;
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: #ffc107;
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: #13131a;
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: #ffc107;
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

/* Styling for the card grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between cards */
  padding: 20px;
}

/* Styling for individual cards */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  font-size: 1.5rem;
  margin: 0;
}

.card p {
  margin: 10px 0;
  color: #333;
}
